@import url("../../../assets/colors_gtk.css");

@define-color bg-primary            @color0;
@define-color bg-secondary          @color2;
@define-color bg-hover              @color3;
@define-color bg-active             @color4;

@define-color fg-primary            @color8;
@define-color fg-secondary          @color3;
@define-color fg-hover              @color7;
@define-color fg-active             @color1;

@define-color bo-normal             @color1;
@define-color bo-secondary          @color2;
@define-color bo-hover              @color8;
@define-color bo-active             @color6;


/* =========================
 * Global
 * ========================= */

* {
    font-weight:   400;
    border-radius: 5px;
}

.docktop {
    background:     alpha(@color0, 1);
    border:         1px solid @color5;
    border-top:     none;
    border-radius:  0px 0px 8px 8px;
}

/* =========================
 * Gruppen-Basis
 * ========================= */

#left,
#center,
#right {
    background-color:  transparent;
    font-size:         14px;
    color:             darker(@color8);
    font-family:       "FantasqueSansM Nerd Font";
    margin:            4px 4px;
    border:            none;
    border-radius:     0;
}

