window.topbar #clock {
    font-size:   1.2rem;
    font-family: Audiowide;
    color:       @fg-active;
    margin:      0px 1px;
    padding:     1px 4px;
}

window.topbar #clock:hover { color: @fg-hover; }

window.bottombar #clock {
    font-size:   1.2rem;
    font-family: Audiowide;
    color:       @fg-active;
    margin:      0px 1px;
    padding:     1px 4px;
}

window.bottombar #clock:hover { color: @fg-hover; }

