window.topbar #custom-vuture-icon,
window.bottombar #custom-vuture-icon {
    background-image:    url("../../../../../assets/vutureland-icon.svg");
    background-repeat:   no-repeat;
    background-position: center;
    background-size:     20px 20px;
    min-width:           20px;
    padding:             0 8px;
    margin:              0 1px;
    border-radius:       6px;
}

window.topbar #custom-vuture-icon:hover,
window.bottombar #custom-vuture-icon:hover {
    background-color: alpha(@fg-active, 0.10);
}

