window.topbar #performance_drawer {
    margin:  2px 1px;
    padding: 1px 1px;
}

window.topbar #performance_drawer:hover {
    border: 0px solid alpha(@bo-normal, 0.6);
    background: alpha(@bg-secondary, 0.2)
}

window.topbar #performance_drawer #custom-performance,
window.topbar #performance_drawer #temperature,
window.topbar #performance_drawer #memory,
window.topbar #performance_drawer #cpu {
    margin-left:  6px;
    margin-right: 6px;
}

window.topbar #performance_drawer #custom-performance:hover,
window.topbar #performance_drawer #temperature:hover,
window.topbar #performance_drawer #memory:hover,
window.topbar #performance_drawer #cpu:hover {
    color: @fg-hover;
}

window.bottombar #performance_drawer {
    margin:  2px 1px;
    padding: 1px 1px;
}

window.bottombar #performance_drawer:hover {
    border: 0px solid alpha(@bo-normal, 0.6);
    background: alpha(@bg-secondary, 0.2)
}

window.bottombar #performance_drawer #custom-performance,
window.bottombar #performance_drawer #temperature,
window.bottombar #performance_drawer #memory,
window.bottombar #performance_drawer #cpu {
    margin-left:  6px;
    margin-right: 6px;
}

window.bottombar #performance_drawer #custom-performance:hover,
window.bottombar #performance_drawer #temperature:hover,
window.bottombar #performance_drawer #memory:hover,
window.bottombar #performance_drawer #cpu:hover {
    color: @fg-hover;
}
