window.topbar #battery {
    margin:  0 3px;
    padding: 2px 6px;
}

window.topbar #battery:hover        { color: @fg-hover; }
window.topbar #battery.normal       { color: @fg-primary; }
window.topbar #battery.low          { color: orange; }
window.topbar #battery.critical     { color: red; }


window.bottombar #battery {
    margin:  0 3px;
    padding: 2px 6px;
}

window.bottombar #battery:hover        { color: @fg-hover; }
window.bottombar #battery.normal       { color: @fg-primary; }
window.bottombar #battery.low          { color: orange; }
window.bottombar #battery.critical     { color: red; }

