window.topbar #temperature.cpu {
    margin:  0px 1px;
    padding: 1px 6px;
}

window.topbar #temperature.cpu:hover { color: @fg-hover; }


window.bottombar #temperature.cpu {
    margin:  0px 1px;
    padding: 1px 6px;
}

window.bottombar #temperature.cpu:hover { color: @fg-hover; }

