#tray_drawer {
    margin:  2px 1px;
    padding: 1px 4px;
}

#tray_drawer:hover {
    border: 0px solid alpha(@bo-normal, 0.6);
    background: alpha(@bg-secondary, 0.2)
}

#tray_drawer #custom-notification,
#tray_drawer #tray {
    margin-left:  6px;
    margin-right: 6px;
}
