#custom-actionuser {
    margin:  0px 1px;
    padding: 1px 4px 1px 30px;
    background-image: url("/home/vredix/.face");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 28px 28px;
}

#custom-actionuser:hover { color: @fg-hover; }
