#audio_drawer {
    margin:  2px 1px;
    padding: 1px 4px;
}

#audio_drawer:hover {
    border: 0px solid alpha(@bo-normal, 0.6);
    background: alpha(@bg-secondary, 0.2)
}

#audio_drawer #pulseaudio,
#audio_drawer #custom-mpris,
#audio_drawer #bluetooth {
    margin-left:  10px;
    margin-right: 10px;
}

#audio_drawer #pulseaudio:hover,
#audio_drawer #custom-mpris:hover,
#audio_drawer #bluetooth:hover {
    color: @fg-hover;
}