window.topbar #memory {
    margin:  0 3px;
    padding: 2px 6px;
}

window.topbar #memory:hover { color: @fg-hover; }


window.bottombar #memory {
    margin:  0 3px;
    padding: 2px 6px;
}

window.bottombar #memory:hover { color: @fg-hover; }

