@import url("../../../../../assets/colors_gtk.css");

/* Semantic aliases are defined in colors_gtk.css */

/* =========================
 * Global
 * ========================= */

* {
    font-weight:   400;
    border-radius: 5px;
}

.topbar {
    background:     @bg-primary;
    border:         1px solid @bo-normal;
    border-top:     none;
    border-left:    none;
    border-right:   none;
    border-radius:  0px 0px 0px 0px;
}

/* =========================
 * Groups base
 * ========================= */

#left,
#center,
#right {
    background-color:  transparent;
    font-size:         14px;
    color:             @fg-primary;
    font-family:       "FantasqueSansM Nerd Font";
    margin:            4px 4px;
    border:            none;
    border-radius:     0;
}

